/* section.parent {
  overflow: hidden;
  position: relative;
}
.slide {
  position: relative;
}
.image-container {
  width: 100%;
}
.slide img {
  height: 80vh;
  width: 100vw;
}
.control-btn .prev,
.next {
  position: absolute;
  top: 50%;
  z-index: 4;
  transition: all 0.4s ease-in-out;
  color: #fff;
  padding: 10px 12px;
  font-size: 16px;
  border: 0;
  border: 1px solid #12cf94;
  border-radius: 50%;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background-color: #12cf94;
}
.control-btn .next {
  right: -20%;
}
.control-btn .prev {
  left: -20%;
}
.parent:hover button.prev {
  left: 5%;
}
.parent:hover button.next {
  right: 5%;
}
.flex .slide {
  transition-duration: 0.3s;
}
.flex .slide::before {
  content: "";
  background-color: rgba(40, 58, 94, 0.34);
  width: 100%;
  height: 99.6%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2rem;
}
.slide.active {
  transition-duration: 0.3s;
}
.slide-title {
  background-color: unset;
  position: absolute;
  top: 30%;
  padding: 0 42% 0 20%;
}
.slide-title h2,
.slide-title p {
  color: #fff;
  margin-bottom: 45px;
}
.slide-title h2 {
  font-size: 58px;
}
.slide-title button.btn:hover {
  color: #fff;
}
@media screen and (max-width: 1250px) {
  .slide-title h2 {
    font-size: 35px;
  }
  .control-btn .prev,
  .next {
    padding: 6px 8px;
    font-size: 14px;
  }
}
.slide-title h2,
.slide-title p {
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .container.parent {
    max-height: 40vh;
  }
  .slide-title h2 {
    font-size: 22px;
    line-height: 30px;
    margin-top: 55px;
  }
  .slide-title h2,
  .slide-title p {
    margin-bottom: 30px;
  }
  .slide-title p {
    font-size: 14px;
    line-height: 30px;
  }
  .slide-title button {
    padding: 5px 17px;
    font-size: 12px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .container.parent {
    max-height: 30vh;
    max-width: 100%;
  }
  .slide-title {
    top: 35%;
  }
  .slide-title h2 {
    font-size: 18px;
    line-height: 15px;
    margin-top: 55px;
  }
  .slide-title h2,
  .slide-title p {
    margin-bottom: 20px;
  }
  .slide-title p {
    font-size: 9px;
    line-height: 15px;
  }
  .slide-title button {
    padding: 2px 10px;
    font-size: 8px;
    margin-top: 15px;
  }
} */
