.Testimonial {
      background-color: #f5fbf9;
      border-radius: 30px;
  }
.Testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  } 
.flex .client .client-info {
  border-bottom: 2px solid #00d690;
  margin: 10px;
} 
.client-info .img {
  padding-bottom: 30px;
}
.client-info h5 {
  font-size: 18px;
}
.client-info .text{
  margin: 20px;
}
.client .rating ul li {
  margin: 10px 20px;
}

@media screen and (max-width: 768px) {
  .flex .client {
    margin: 0 35px;
    padding: 30px;
    height: 50vh;
    transition: all .3s ease-in-out;
  }
  .client-info h5, .client-info p{
    margin: 5px 7px 15px;
  }
  .client .rating ul li {
    margin: 50px 10px;
  }
  .slick-list {
    height: 45vh;
  }
}
@media screen and (max-width: 480px) {
  .flex .client {
    margin: 0;
    padding: 0px;
}
.slick-list {
  height: 52vh;
}
}