section.forms {
  height: 700px;
  overflow: hidden;
  padding: 1rem;
  margin: auto;
  transform: translate(0px, 20%);
  box-shadow: 15px 15px 30px 0px #eee;
  border-radius: 40px;
  border: 1px solid #eee;
}
.forms img {
  width: 100%;
  height: 60vh;
  border-radius: 40px;
}
.forms .login-content {
  width: 100%;
}
.forms h1 {
  position: absolute;
  margin: 5rem 0 0 5rem;
  z-index: 4;
  padding: 10px 30px;
  border-radius: 30px 10px;
}
.forms .best {
  font-size: 36px;
  background-color: #ffffff73;
  color: #000000b5;
  padding-left: 8rem;
  margin-left: 0px;
  border-radius: 0 30px 5px 0;
}
.forms .best span {
  color: #246b65;
}
.forms .features .location,
.check,
.age {
  padding: 10px 15px;
  position: absolute;
  background: #ffffffc7;
  border-radius: 10px;
  font-weight: 600;
  justify-content: space-around;
  align-items: center;
  width: 18%;
  font-size: 20px;
}
.forms .features svg {
  color: #246b65;
}
.forms .features .location {
  margin: 15rem 14rem;
}
.forms .features .check {
  margin: 19rem 14rem;
}
.forms .features .age {
  margin: 23rem 14rem;
}
.sign-box {
  padding: 25px 30px;
  background-color: #fff;
}
.forms form div:not(.MuiStack-root) {
  margin: 4px 0;
}
/* .forms form .MuiStack-root{
    margin: 5vh auto 0;
  } */
.forms form .flex input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.forms p:not(.error) {
  font-size: 13px;
  text-align: center;
}
.forms .sign-box p:first-child {
  padding: 20px;
}
.forms form label {
  margin: 8px;
}
.forms form span {
  margin-top: 10px;
  color: crimson;
  font-size: 13px;
}
.forms form button:not(.toggle) {
  width: 100%;
  margin: 20px 0;
}
.forms form a {
  color: blue;
  font-size: 13px;
}
.MuiStack-root .error,
.error {
  color: red;
  font-size: 12px;
  text-align: left;
  margin: 0 0 15px;
}
section.forgot {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot button a {
  color: #fff;
}
.bg-sea {
  height: 75vh;
}
.bg-sea img {
  width: 100%;
  height: 100%;
}
section.dash {
  max-width: 90%;
  margin: auto;
}
section.dash h2 {
  font-size: 28px;
}
section.dash h2.hotel,
p.experience {
  text-align: center;
  margin: 10px 0;
}
section.dash .flex {
  margin: 45px auto;
  align-items: center;
}
.flex .card {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px;
  height: fit-content;
  margin-top: -18%;
}
.flex .card img {
  width: 100%;
}
.flex label {
  margin-right: 35px;
}
.forms .sign-in-methods {
  margin-top: 30px;
}
.forms .sign-in-methods .lines {
  display: flex;
  justify-content: center;
  margin: 15px;
}
.forms section.sign-in-methods p.line {
  border-top: 1px solid #000;
  padding: 0 5em;
}
.forms .sign-in-methods .or-text {
  display: inline-block;
  position: relative;
  top: -12px;
  background: #fff;
  padding: 0 10px;
}
.sign-in-methods .btn-google,
.btn-github {
  align-items: center;
  background-color: #4285f4;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #757575;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  justify-content: center;
  margin: 0 0 20px;
  display: flex;
  background-image: linear-gradient(30deg, #fff 50%, transparent 50%);
  background-size: 60rem;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
}
.btn-google:hover {
  background-position: 100%;
  color: #fff;
}
.sign-in-methods .btn-github {
  background-image: linear-gradient(30deg, #2b3137 50%, transparent 50%);
  color: #fff;
  background-color: #fff;
}

.btn-github:hover {
  color: #2b3137;
  background-position: 100%;
}
.forms .google-logo,
.forms .github-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}

.forms p.forgot {
  text-align: start;
}

@media screen and (max-width: 992px) {
  .forms .best {
    font-size: 20px;
    padding-left: 4rem;
  }
  .sign-box {
    padding: 10px 15px;
  }
  .forms .sign-box p:first-child {
    padding: 12px;
    font-size: 10px;
  }
  .forms form div:not(.MuiStack-root) {
    height: 45px;
  }
  .forms form label {
    margin: 0px;
    font-weight: 200;
    font-size: 12px;
  }
  .MuiStack-root .error,
  .error {
    font-size: 10px;
    margin: 0 0 8px;
    font-weight: 200;
  }
  .forms p:not(.error) {
    font-size: 10px;
  }
  .forms form button:not(.toggle) {
    margin: 15px auto;
    font-size: 12px;
    padding: 8px;
    width: 85%;
  }
  .sign-in-methods .btn-google,
  .btn-github {
    padding: 8px 10px;
    font-size: 12px;
    width: 85%;
    margin: 15px auto;
  }
}
@media screen and (max-width: 768px) {
  .forms .login-content {
    display: none;
  }
  .forms .login-content .features {
    display: none;
  }
  .sign-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .forms .sign-box p:first-child {
    padding: 12px 1rem;
  }
  .css-pu8wyo-MuiStack-root {
    width: 275px;
  }
}
@media screen and (max-width: 550px) {
  section.forms {
    transform: translate(0px, 4%);
    padding: 0;
    height: 565px;
  }
  .sign-box {
    margin: 5% auto;
  }
  .forms .sign-box p:first-child {
    padding: 12px 4rem;
  }
}
