@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2)
    format("woff2");
}
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500&family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  background-color: #fff;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  margin: auto;
  max-width: 1400px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Marcellus", serif;
  color: #283a5e;
  font-weight: 100;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 2px;
  background: #00d690;
  top: 1px;
  z-index: 20;
  transform-origin: 0%;
}
.MuiBox-root.css-0 {
  top: 48%;
  left: 48%;
  position: absolute;
}
a {
  text-decoration: none;
}
p,
span {
  color: #687693;
}
span.title {
  font-size: 18px;
  color: #00d690;
  display: block;
  padding: 20px 10px 5px;
}
h2.title {
  font-size: 38px;
  margin: 0 0 40px;
  display: inline-block;
  position: relative;
  line-height: 75px;
}
.flex {
  display: flex !important;
}
.flex_space {
  display: flex;
  justify-content: space-between;
}
.container:not(.home) {
  height: 100%;
  max-width: 90%;
  margin: auto;
  align-items: center;
  border-radius: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}
li {
  list-style-type: none;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button.btn {
  color: #fff;
  padding: 15px 27px;
  font-size: 20px;
  border: 0;
  text-transform: capitalize;
  border: 1px solid #12cf94;
  display: inline-block;
  background-image: linear-gradient(30deg, #00d690de 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  margin: 20px 0;
}
button.btn:hover {
  background-position: 100%;
  color: #12cf94;
}
.top {
  margin-top: 6%;
}
.primary-btn {
  padding: 10px 20px;
  background-color: #31b675;
  color: #fff;
  font-weight: 400;
  transition: 0.5s;
}
.primary-btn:hover {
  background-color: #000;
  color: #fff;
}
.secondary-btn {
  padding: 10px 20px;
  background-color: #31b675;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  margin-top: 4rem;
}
.secondary-btn:hover svg {
  transform: translate(100%, 0%);
}
.rate svg,
.rating ul li span {
  color: #e0a503d4;
}
@media screen and (max-width: 1250px) {
  body {
    font-size: 14px;
  }
  .container:not(.home) {
    max-width: 95%;
  }
  span.title {
    font-size: 14px;
    padding: 20px 10px 15px;
  }
  button.btn {
    padding: 10px 15px;
    font-size: 14px;
  }
  .top {
    margin-top: 3%;
  }
  h2.title {
    font-size: 30px;
    margin: 0 0 20px;
    line-height: 5px;
  }
  .image1 {
    width: 100%;
  }
  .aboutCard {
    margin: 40px auto;
  }
}
@media screen and (max-width: 768px) {
  .secondary-btn {
    padding: 6px 10px;
    font-weight: 200;
    font-size: 12px;
    margin-top: 10px;
  }
  .outline-btn {
    padding: 12px 30px;
    background-color: #fff;
    color: black;
    font-weight: 400;
    font-size: 15px;
    margin-top: 20px;
    border: 2px solid #000;
  }
  .secondary-btn svg {
    transform: translate(10%, 0%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  .control-btn button {
    cursor: pointer;
  }
  .control-btn svg {
    width: 20px;
    height: 30px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding: 10px 14px;
    transition: all 0.3s ease-in-out;
  }
  .control-btn button:hover svg {
    background-color: rgba(0, 214, 144);
  }
  input {
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
  }

  .row {
    width: 50%;
  }

  /* .mtop {
  margin-top: 50px;
} */
  .heading {
    text-align: center;
    padding: 50px 0 50px 0;
  }
  .heading h1 {
    font-size: 35px;
    font-weight: 500;
  }
  .heading .line {
    width: 18%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 2px dashed #999999;
    position: relative;
  }
  .heading .line::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -6px;
    left: -20px;
  }
  .heading .line::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #31b675;
    border-radius: 50%;
    top: -6px;
    right: -20px;
  }
  .full_container {
    max-width: 95%;
    margin: auto;
  }
  span.title {
    font-size: 12px;
    margin-top: 20px;
  }
  h2.title {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 15px;
  }
  .control-btn svg {
    width: 5px;
    height: 5px;
    padding: 1px 0px;
  }
  .heading {
    padding: 20px 0 20px 0;
  }
  .heading h2,
  h3 {
    font-size: 18px !important;
  }
  .full_container {
    max-width: 80%;
    display: block !important;
  }
  .main-content {
    width: 70%;
  }
  .side-content {
    width: 30%;
    margin-left: 40px;
  }

  .grid1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  .icon {
    margin-top: 20px;
  }
  .icon svg {
    background: #f5f5f5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #e7e3e3;
    border-radius: 5px;
  }
  .container {
    max-width: 90%;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-content {
    width: 100%;
  }
  .side-content {
    width: 100%;
    margin-left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .secondary-btn {
    padding: 5px 8px;
    font-size: 10px;
    margin-top: 10px;
  }
  h2.title {
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
  }
}
