.skeleton-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 80%;
  height: 70vh;
  margin: auto;
  background-color: #ffffff;
  margin-bottom: 10%;
}

.skeleton {
  background: linear-gradient(90deg, #eee 25%, #e0e0e0 50%, #eee 75%);
  background-size: 50%;
  animation: shimmer 1.3s infinite linear;
  border-radius: 4px;
}
.svg-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  display: flex;
}
.svg-img {
  margin-top: 1.75rem;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  z-index: 2;
  background-image: linear-gradient(
    90deg,
    #eeeeee9c 25%,
    #e0e0e0d0 60%,
    #fafafa 95%
  );
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.skeleton-image,
.skeleton-text,
.skeleton-title {
  margin-top: 5%;
  z-index: 5;
  position: absolute;
  border-radius: 20%;
}
.skeleton-title {
  height: 30px;
}

.skeleton-text {
  height: 40px;
}

.skeleton-image {
  height: 40px;
}
