.box {
  border-radius: 50px;
  position: relative;
  cursor: pointer;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}
.content {
  max-width: 50%;
}
.content .images {
  display: flex;
  flex-wrap: wrap;
}
.content .one,
.two {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.content .images .one img:first-child {
  margin-top: 15%;
}
.content .box {
  padding: 20px;
}
.content .one .text,
.two .text {
  width: fit-content;
  align-items: center;
  margin: -30% 25px 0;
}
.content .one p,
.two p {
  margin: 0;
}
.box img {
  width: 14rem;
  height: 30vh;
  border-radius: 30px;
  transition: 1.3s cubic-bezier(0.3, 0, 0, 1.3);
  object-fit: cover;
}
.content .price {
  color: #00d690;
}
.city {
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.city h3,
.city span {
  color: #fff;
}
.cover {
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
    to top,
    rgba(#201f20, 0.9) 0%,
    rgba(#201f20, 0.1) 60%,
    rgba(#201f20, 0.05) 80%,
    rgba(#201f20, 0) 100%
  );
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
  user-select: none;
}
.shadow {
  width: 70%;
  height: 70%;
  position: absolute;
  background-color: #352720;
  bottom: 0px;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  z-index: -10;
  filter: blur(55px);
  border-radius: 100px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s cubic-bezier(0.3, 0, 0, 1.3);
  user-select: none;
}
.box:hover img {
  transform: scale(1.1);
}
.box:hover .city {
  visibility: visible;
  opacity: 1;
  bottom: -10px;
  transform: scale(1.1);
}
.box:hover .cover {
  visibility: visible;
  opacity: 1;
  bottom: -10px;
  transform: scale(1.1);
}
.box:hover .shadow {
  width: 100%;
  visibility: visible;
  opacity: 1;
  transform: scale(1.1) translate(-65%);
}
@media screen and (max-width: 1250px) {
  .box img {
    width: 12rem;
    height: 28vh;
  }
  .text {
    margin-left: 65px;
  }
  .text p {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .text {
    width: 100%;
  }
  .content {
    max-width: 100%;
  }
  .content .one div,
  .two div {
    height: 40vh;
  }
  /* .content .images .one img:first-child {
      margin-top: 7%;
    }  */
  .content .box {
    padding: 0px 70px;
  }
  .box img {
    width: 26vw;
  }
  .shadow {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .city h3,
  .city span {
    margin-left: 15px;
  }
  .city h3 {
    font-size: 16px;
  }
  .city span {
    font-size: 13px;
  }
  .content .images {
    flex-direction: column;
  }
  .content .box {
    padding: 0px;
  }
  .box img {
    width: 90%;
    /* margin: 30px; */
    height: 28vh;
  }
  .content .one div,
  .two div {
    height: 32vh;
  }
  .content .one,
  .two {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
